.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
        width: 90%;
        max-width: 1000px;

        span {
            padding: 5px 0;
            position: relative;

            i {
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }
    }
}
