.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .container {
        --widthWindow: 1000px;
        --widthBlock: 600px;
        --gap: 50px;
        position: relative;
        width: var(--widthWindow);
        height: max-content;
        overflow: hidden;

        .lenta {
            width: max-content;
            min-width: auto;
            display: flex;
            gap: var(--gap);
            transition: transform .5s ease-in-out;
            margin-left: calc((var(--widthWindow) - var(--widthBlock)) / 2);

            article {
                width: var(--widthBlock);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
                overflow: hidden;
            }
        }
    }

    .buttonsContainer {
        display: flex;
        justify-content: center;
        gap: 10px;

        .button {
            height: 8px;
            width: 25px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, .4);
            cursor: pointer;

            input[type=radio] {
                display: none;
            }

            &:has(input[type=radio]:checked) {
                background-color: black;
            }
        }
    }
}

.buttonleft, .buttonright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-content: center;
    border: none;
    border-radius: 50%;
    font-size: 4rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    cursor: pointer;
}

.buttonleft {
    left: 5px;
}

.buttonright {
    right: 5px;
}

@media(max-width: 1010px) {
    .wrapper .container {
        --widthWindow: 100vw;
        --widthBlock: 90vw;
        --gap: 30px;
    }
}
