.list {
    --inRow: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    list-style: none;
    margin-bottom: 15px;

    li {
        width: calc((100% - 10px * (var(--inRow) - 1)) / var(--inRow));
        min-width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.greet {
    min-height: 90vh;
    background: url("/main/greet.png") center top/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;

    header, h2 {
        color: white;
        filter: brightness(1);
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    }
}

.canIHelp {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: .3fr 3fr 1fr;

    .title {
        grid-column: 1;
        grid-row: 1;
        margin-top: 30px;
    }

    .information {
        grid-column: 1;
        grid-row: 2 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px;

        ul {
            flex-grow: 1;

            li {
                --inRow: 2;
            }
        }
    }

    .image {
        grid-column: 2;
        grid-row: 1 / 4;
        position: relative;
        width: 500px;
        max-width: 100%;
        aspect-ratio: 2899 / 4059;
    }
}

.promo {
    height: 500px;

    h2 {
        margin-bottom: 100px;
    }

    div {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1050px) {
    .canIHelp {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 595px) {
    .list {
        --inRow: 2;
    }
}
