.footer {
  font-size: 1rem;
  padding: 2rem 1rem;
  margin-top: auto;
  font-variant-numeric: normal !important;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.copyright {
  font-weight: 500;
}

.links {
  font-size: 1rem;
  text-decoration: underline;
  color: var(--main-color);
  filter: brightness(0.7);
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1);
  }
}

.legal {
  opacity: 0.8;
  font-size: 1rem;
  font-variant-numeric: normal !important;
  font-feature-settings: normal;
  -webkit-text-size-adjust: 100%;
}
